{% extends 'blog/base.html' %}
	
	{% block title %}
		<title>Article</title>
	{% endblock %}

	{% block body %}
		<h2>{{article_detail.title}}</h2>
		<br>
		<h4>{{article_detail.author}}</h4>
		<br>
		{% if article_detail.article_image %}
			<img src="{{ article_detail.article_image.url }}" width="240">
		{% else %}
		{% endif %}
		<p>{{article_detail.article_title}}</p>

		<form action="{% url 'deletearticle' article_detail.id %}" method="post">
			{% csrf_token %}
			<button type="submit" id="delete-btn" class="btn btn-danger">Delete Article</button>
		</form>
	{% endblock %}