{% extends 'blog/base.html' %}
	
	{% block title %}
		<title>Article</title>
	{% endblock %}

	{% block body %}
		<h2>{{article_detail.title}}</h2>
		<br>
		<h4>{{article_detail.author}}</h4>
		<br>
		{% if article_detail.article_image %}
			<img src="{{ article_detail.article_image.url }}" width="240">
		{% else %}
		{% endif %}
		<p>{{article_detail.article_title}}</p>

		<button type="button" onclick="location.href = '{% url 'editarticle' article_detail.id %}';" id="edit-btn" class="btn btn-primary">Edit Article</button>
		<button type="submit" onclick="location.href = '{% url 'deletearticle' article_detail.id %}';" id="delete-btn" class="btn btn-danger">Delete Article</button>
	{% endblock %}